<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phrase level sentiment analysis</title>
    <!-- Google Fonts -->
    <link href="{{ url_for('static', filename='css/Style.css') }}" rel="stylesheet">

  </head>
  <body>
    <div class="register-card">

        <h2>Register</h2>
        <h3>Enter your credentials</h3>
        <form action = "/" method = "post" class="register-form">
          <div class="username">
            <input
              autocomplete = "off"
              name="username"
              spellcheck="false"
              class="control"
              type="text"
              placeholder="Username"
            />

          </div>
          <div class="Email">
            <input
              autocomplete="off"
              name="email"
              spellcheck="false"
              class="control"
              type="text"
              placeholder="Email"
            />

          </div>

          <input
            name="password"
            spellcheck="false"
            class="control"
            id="password"
            type="password"
            placeholder="Password"
          />
          <button class="control" type="submit">REGISTER</button>
        </form>
      </div>

  </body>
</html>
